* {
  box-sizing: border-box;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input, select {
  width: 200px;
  margin-bottom: 6px;
}

label {
  margin-bottom: 2px;
  font-weight: bold;
}

span {
  width: fit-content;
  margin-bottom: 4px;

}

.span-pass {
  font-size: 0.8rem;
}

button {
  width: 200px;
  height: 24px;
  margin-top: 6px;
}

.valid {
  border: 2px green solid;
}

.invalid {
  border: 2px red solid;
}

.error-active {
  background-color: rgba(255, 0, 0, 0.355);
}
